@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import './variables.css';
@import './utilities.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--pure);
    background: var(--primary); 
    height: 4000px;
}

header {
    background: linear-gradient(135deg, rgba(0,0,0,1),rgba(0,0,0,0.2)),
    url('../img/sunrise.jpg');
    min-height: 100vh;
    background-size: cover;
}

header nav{
    padding: 20px 40px 20px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

header nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .nav-right a {
    text-decoration: none;
    color: var(--pure);
    margin-right: 30px ;
    position: relative;
}

header nav .nav-right a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 0;
    height: 2px;
    background: var(--pure);
    transition: width .3s ease-in-out;
}

header nav .nav-right a:hover::after{
    width: 70%;

}

header nav .nav-right a.active::after{
    width: 70%;
}

header nav .nav-right .search > div{
    background: var(--dark);
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
}
header nav .nav-right .search > div input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    color: var(--pure);
}

header nav .nav-right .search > div img{
    padding-right: 10px;
}

.social div{
    border: 2px solid var(--pure);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

@keyframes moveIn {
    from {
        tranform: translateX(-100px);
    }
    to{ 
        tranform: translateX(0px);
    }
}

.social svg path {
    fill: var(--pure);
}

.social div:hover svg path{
    fill: var(--dark);
    transition: all .5s ease-in-out;
}

.social div:hover {
    background: var(--pure);
}

.hero {
    position: relative;
}

.social {
    position: absolute;
    border-right: 2px solid var(--dark);
    left: 0;
    top: 0;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
}

.hero .cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 80px);
    position: absolute;
    left: 10%;
    top: 40%;
}

.hero .cta h1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.hero .cta > div {
    flex: 1;
}

.hero .cta .left-section {
    padding: 0 60px 0 30px;
    
}

.hero .cta .right-section img {
    height: 70vh;
    transform: rotate(20deg);
    animation: moveInSpace 12s ease-in-out infinite alternate;
}

@keyframes moveInSpace {
    50% {
       transform: translateY(100px) rotate(-30deg) scale(0.8); 
    }
}

section.strip{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--dark);
    padding: 50px 0 ;
}

section.rocket {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-gap: 80px;
    padding: 100px 0;
}

section.rocket .rocket-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.rocket .rocket-body span {
    font-size: 0;
    position: relative;
}

section.rocket .rocket-body span img{
    width: 100%;
}

section.rocket .block {
    width: 70%;
}

section.rocket .block h1{
    font-size: 32px;
    font-weight: 400;
}

section.rocket .block .with-underline {
    position: relative;
    margin-bottom: 38px;
}

section.rocket .block .with-underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 38%;
    height: 2px;
    background: var(--pure);
}

section.rocket .block h1.with-underline::before {
    width: 20%;
}

section.rocket p {
    line-height: 1.6;
}

section.rocket .block h2 {
    font-weight: 400;
    margin-bottom: 20px;
}

section.rocket .block.payload {
    padding-top: 130px;
}

section.rocket .block.payload h2 {
    padding-left: 80px;
}

section.rocket .block.dragon {
    padding-top: 120px;
}

section.rocket .block button {
    margin-top: 30px;
}

section.rocket .block.composite {
    padding-top: 60px;
}

section.rocket .block.first-stage {
    padding-top: 60px;
}

section.rocket .block.capacity {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

section.rocket .block.capacity > div:first-child {
    margin-right: 40px;
}

section.rocket .block.capacity h4 {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
}

section.rocket .block.capacity h6 {
    font-size: 40px;
    font-weight: 400;
}

section.rocket .block.capacity h6 small {
    font-size: 12px;
}

section.rocket .block.second-stage {
    padding-top: 60px;
}

section.rocket .block.second-stage {
    padding-top: 60px;
}

section.rocket .right-block .block.capacity {
    padding-top: 120px;
}

section.rocket .right-block .block.capacity.single {
    padding-top: 40px;
}

section.rocket .right-block .block.engines {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

section.rocket .right-block .block.engines img {
    width: 180px;
}

section.rocket .right-block .block.marine {
    padding-top: 100px;
    width: 70%;
}

section.rocket .right-block .block.marine h2{
    font-size: 14px;
    padding-left: 100px;
    margin-bottom: 26px;
}

section.rocket .right-block  .floating-graphics {
    position: sticky;
    float: right;
    top: 60px;
    margin-right: -80px;
}

section.rocket .right-block  .floating-graphics img{
    height: 350px;
}

section.rocket .rocket-body span::after, section.rocket .rocket-body span:nth-child(3)::before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background: var(--pure);
    transition: width 1s ease-in-out;
}

section.rocket .rocket-body span:nth-child(1)::after {
    bottom: 16px;
    left: 96%;
}

section.rocket .rocket-body span:nth-child(2)::after {
    bottom: 62%;
    right: 100%;
}

section.rocket .rocket-body span:nth-child(3)::after {
    bottom: 64%;
    right: 90%;
}

section.rocket .rocket-body span:nth-child(3)::before {
    bottom: 32%;
    left: 90%;
}

section.rocket .rocket-body span.active:nth-child(1)::after{
    width: 120px;
}

section.rocket .rocket-body span.active:nth-child(2)::after {
    width: 180px;
}

section.rocket .rocket-body span.active:nth-child(3)::after {
    width: 200px;
}

section.rocket .rocket-body span.active:nth-child(3)::before {
    width: 160px;
}

@keyframes jump {
    50% {
        transform: translateY(-50px);
    }
}

section.rocket .rocket-body span.active:nth-child(1) {
    animation: jump 1s ease-in-out forwards;
}

footer{
    background: var(--dark);
    padding: 60px 0;
}

footer > div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer .copyright span {
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}

footer .copyright img{
    height: 30px;
}

footer h1 {
    font-size: 18px;
    position: relative;
    margin-bottom: 30px;
}

footer h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block;
    width: 60px;
    height: 2px;
    background: var(--pure);
}

footer ul {
    list-style-type: none;
}

footer ul li:nth-child(even) {
    margin: 10px 0;
}

footer ul li a {
    color: var(--mild);
    text-decoration: none;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

footer ul li a:hover {
    color: var (--pure);
}

footer .footer-socials a {
    margin-right: 20px;
    font-size: 22px;
    color: var(--mild);
}

footer .footer-socials a:hover {
    color: var(--pure);
}