.container {
    width: 1460px;
    max-width: 90%;
    margin: 0 auto;
}

.btn {
    padding: 8px 30px;
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: all .5s ease-in-out;
}

.btn-primary {
    color: var(--dark);
    background: var(--pure);
}

.btn-primary:hover{
    background: transparent;
    color: var(--pure);
    border-color: var(--pure);
}

.btn-secondary {
    background: transparent;
    color: var(--pure);
    border-color: var(--pure);
}

.btn-secondary:hover {
    background: var(--pure);
    color: var(--dark);
}